/* general button */
.btn{
    border: solid 1px white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background:  rgb(22, 82, 240);
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: white;
  color: rgb(39, 37, 37);
}