.card-container{
    display: flex;
    flex-direction: column;
}

.card-info{
    display: flex;
    flex-direction: column;
}

.card-sub-info{
    display: flex;
    justify-content: space-between;
    flex:0 0 10%; 
    padding: 10px 18px;   
}

.card-chart{
    flex:0 0 80%;
}

.card-price{
    font-size: 22px;
    font-weight: bolder;
}
.card-name{
    font-weight: bold;
    font-size: 15px;
}