.contentThree-container{
    margin:15px 0px;
    display: flex;
    flex-wrap:wrap;
    background-color:white ;

}


.contentThree-title{
    min-width: 100%;
    margin:35px auto;
}
.contentThree-title span{
    font-size:36px;
}

.contentThree-data{
    display:flex;
    min-width: 100%;
    overflow:hidden;
}

.contentThree-subdata{
    display: flex;
    flex-direction: column;
    min-width: 33%;
    margin:18px;
}

.fakeimgbis{
    min-width: 18px;
    min-height: 18px;
    margin:10px;
    background-color: rgb(18, 175, 92);
}

