.contentFour-container{
    background-color: rgb(22, 82, 240);     
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    margin-top:100px;
    margin-bottom: 80px;
    min-height: 220px;
    align-items: center;
}

.contentFour-data{
    text-align: center;
    color: white;
    font-size: 55px;
    font-weight: bold;
}

.contentFour-data span{
    display: block;
    line-height: 1.75;
    color:rgb(176, 176, 248);
    font-size: 18px;
    font-weight: lighter;
}