.contentSix-container{
    overflow: hidden;
    display: flex;
    background-color: #E8F6FF;
    height: 460px;
    margin-bottom: 95px;
}

.contentSix-container>div{
    width: calc(50%);
}
.contentSix-container .contentOne-col{
    width: 100%;
}
.contentSix-container>div:first-child{
    padding: 80px 0 0 190px;
}
.contentSix-container>div img{
    width:  750px;
    height: 412px;
}