.contentTwo-container{
    margin:15px 0px 250px 0px;
    display: flex;
    flex-wrap:wrap;
    background-color:white ;

}


.contentTwo-title{
    min-width: 100%;
    text-align: center;
    color:grey;
    font-weight: lighter;
    margin:35px auto;
}

.contentTwo-title span{
    display: block;
    font-size:42px;
    font-weight: bold;
    color:#0F3257;
    padding-bottom: 14px;
}


.contentTwo-data{
    display:flex;
    flex-grow: 0;
    margin-top: 50px;
    overflow:hidden;
    flex-direction: column;
}
.contentTwo-data:first-child{
    margin-right: 18px;
}
.contentTwo-data:last-child{

}
.contentTwo-data h3{
    font-size:20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.contentTwo-data p{
    font-weight: lighter;
    color:grey;
    line-height: 1.6;
}

.contentTwo-subdata{
    display: flex;
    margin:10px 10px 40px 10px;
}

.fakeimgbis{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:70px;
    height:70px;
   
    border-radius:50%;
    
    box-shadow:2px 2px 10px rgba(0,0,0,.1);
    margin-right:23px;
    background-color: white;
}

.contentTwo-img img{
    width: calc(700px);
    height:calc(545px);
}

