.contentThree-containter{
    margin:15px 0px 90px 0px;
    
    display: flex;
    flex-wrap:wrap;
    background-color:white;
}


.contentThree-title{
    min-width: 100%;
    font-size: 25px;
    text-align: center;
    color:grey;
    font-weight: lighter;
    margin:55px auto;
}
.contentThree-title span{
    display: block;
    font-size:42px;
    color:black;
    padding-bottom: 8px;
}

.contentThree-data{
    display:flex;
    min-width: 100%;
    overflow:hidden;
}

.contentThree-subdata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 33%;
    margin:18px;
}

.img{
    padding-bottom: 50px;
}

.contentThree-subdata div>h3{
    font-size: 25px;
    text-align: center;
    padding:25px 0px;
}

.contentThree-subdata div>p {
    color:grey;
    text-align: center;
    padding:25px 0px;
}
.contentThree-subdata div>a{
    display: block;
    text-decoration: none;
    color:blue;
    text-align: center;
    
    padding:25px 0px;
}