.contentOne-container{
    display:flex;
    justify-content: center;
    margin:50px 0px;
    background-color:white;
}
.contentOne-col:first-child{
    padding-top:20px;
}

.contentOne-col{
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    width: calc(50%);
}


.contentOne-col h2{
    font-size:32px;
    font-weight: bold;
    margin:25px 0px 0px 0px;
}

.contentOne-col p{
    margin:15px 0px;
    font-weight: lighter;
    line-height: 1.25;
    
}
.contentOne-col .btn-flat{
    
    color: white;
    padding: 12px 18px;
    border-radius: 4px;
    background: rgb(22, 82, 240);
    transition: background 0.3s ease;
    text-decoration: none;

}

.contentOne-data{
    display: flex;
    padding:25px; 
    font-size:22px;
    font-weight: bold;
    transition: box-shadow 0.5s ease;
}

.contentOne-data span.grey{
    color:#C8C8C8;
    font-size:20px;
    padding-left: 12px;
    font-weight: lighter;
    
}


.contentOne-data img{
    padding-right:25px;
}

.contentOne-data:hover{
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);

}