.contentThree-containter{
    margin:15px 0px 90px 0px;
    
    display: flex;
    flex-wrap:wrap;
    background-color:white;
}


.contentThree-title{
    min-width: 100%;
    font-size: 20px;
    text-align: center;
    color:	slategray;
    font-weight: lighter;
    margin:55px auto;
}
.contentThree-title span{
    display: block;
    font-size:40px;
    font-weight: bold;
    color:#0F3257;
    
    padding-bottom: 8px;
}

.contentThree-data{
    display:flex;
    min-width: 100%;
    margin-top: 100px;
    overflow:hidden;
}

.contentThree-subdata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 33%;
    margin:18px;
}

.img{
    padding-bottom: 50px;
}

.contentThree-subdata div>h3{
    font-size: 20px;
    font-weight: bold;
    color: #0F3257;
    text-align: center;
    padding:25px 0px;
}

.contentThree-subdata div>p {
    line-height: 1.6;
    font-weight: lighter;
    color:slategrey;
    text-align: center;
    padding:14px 0px 23px 0px;
}
.contentThree-subdata div>a{
    display: block;
    text-decoration: none;
    color:blue;
    text-align: center;
    
    padding:25px 0px;
}