.contentOne-container{
    display:flex;
    /*justify-content: space-between;*/
    margin:50px 0px;
    background-color:white;
}
.contentOne-col:first-child{
    margin-right: 320px;
}
.contentOne-col{
    display: flex;
    flex-direction: column;
}

.contentOne-col h2{
    font-size:36px;
    margin:35px 0px;
}
.contentOne-col p{
    margin:15px 0px;
}



.contentOne-data{
    margin:20px; 
    font-size:28px;   
}