.contentFour-container{
    background-color: rgb(22, 82, 240);     
    display: flex;
    justify-content: space-around;
    margin-top:100px;
    margin-bottom: 80px;
    min-height: 211px;
    align-items: center;
}

.contentFour-data{
    text-align: center;
    color: white;
    font-size: 55px;
    font-weight: bold;
}

.contentFour-data span{
    display: block;
    line-height: 1.75;
    color:#BACCFC;
    font-size: 18px;
    font-weight: lighter;
}