
.contentFour-container{
    background-color: rgb(22, 82, 240);
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    min-height: 220px;
    margin:65px 0px;
    align-items: center;
}

.contentFour-data{
    text-align: center;
    color: white;
    font-size: 55px;
}

.contentFour-data span{
    color:rgb(176, 176, 248);
    font-size: 18px;
}