.dash-container{
    display: flex;
    flex-direction: column;
    min-width:100%;
    min-height: 450px;
    margin:20px 0px;
}

.dash-title{
    flex: 0 0 10%;
    margin:0px 0px 0px 0px;
    padding: 12px;
    font-size:20px;
    border: 1px solid lightgrey;
    border-width:1px 1px 0px 1px;
    border-radius:6px;
}

.dash-kid{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50%;
    border: 1px solid lightgrey;
    border-width:0px 1px 1px 0px;
    border-radius:6px;
}

.crypto-view{
    flex: 1 0 auto;
    border: 1px solid lightgrey;
    border-width:1px 0px 0px 1px;
    position: relative;
}

.dash-footer{
    flex: 0 0 10%;
    margin:0px 0px 0px 0px;
    padding: 12px;
    font-size:20px;
    border: 1px solid lightgrey;
    border-width:0px 1px 1px 1px;
    border-radius:6px;
    text-align:center;
}

.dash-footer>a{
    text-decoration: none;
    color:grey;
}

.dash-container-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.dash-container-two-kid{
    display: flex;
    flex-direction: column;
    width: 45%;
    border:1px solid lightgray;

}

.dash-container-two-kid>*{
    padding:15px;
    margin: 15px;  
}

.dash-container-two-title{
    color:#2525eb;
    border:1px solid lightgray;
    border-width:0 0 1px 0;
}

.dash-container-two-footer{
    color:grey;
    text-align: center;
    border:1px solid lightgray;
    border-width:1px 0 0 0;
}

.dash-container-two-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.dash-container-two-data span{
    color:black;
    font-size: 20px;
}
.dash-container-two-data p{
    font-size: 14px;
    color:grey;
}
.dash-logo-blue{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80px;
    height: 80px;
    border:1px solid blue;
    color:blue;
    border-radius: 50%;
}

.dash-logo-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80px;
    height: 80px; border:1px solid rgb(233, 192, 12); color:rgb(233, 192, 12); border-radius: 50%; }






.dash-btn-container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border:1px solid red;    
    visibility: hidden;
}

.dash-btn-container:hover{
    visibility: visible;
    border: 1px solid blue; 
}

.crypto-view button{
    visibility: hidden;
    position: absolute;
    left: 125px;
    top: 81px;
    z-index: 1;
    font-size: 14px;
    padding: 12px 16px;
    background-color:rgb(5,177,105);

}

.crypto-view button:hover{
    color: white;
    background-color: #03995a;
}

.crypto-view:hover button{
    visibility: visible;
}
