.dash-container{
    display: flex;
    flex-direction: column;
    min-width:100%;
    min-height: 450px;
    margin:20px 0px;
}

.dash-title{
    flex: 0 0 10%;
    margin:0px 0px 0px 0px;
    padding: 12px;
    font-size:20px;
    border: 1px solid lightgrey;
    border-width:1px 1px 0px 1px;
    border-radius:6px;
}

.dash-kid{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50%;
    border: 1px solid lightgrey;
    border-width:0px 1px 1px 0px;
    border-radius:6px;
}

.crypto-view{
    flex: 1 0 auto;
    border: 1px solid lightgrey;
    border-width:1px 0px 0px 1px;
    
}

.dash-footer{
    flex: 0 0 10%;
    margin:0px 0px 0px 0px;
    padding: 12px;
    font-size:20px;
    border: 1px solid lightgrey;
    border-width:0px 1px 1px 1px;
    border-radius:6px;
    text-align:center;
}

.dash-footer>a{
    text-decoration: none;
    color:grey;
}