.footerHome-container{
    display: flex;
    justify-content: space-between;
    margin:30px 0px 350px 0px;
}

.footerHomer-data{
    display: flex;
    flex-direction: column;
}

.footertitle{
    color:blue;
    font-size: 24px;
}