.hookhome{
  padding: 59px 48px;
}

.megatitle{
    color:white;
    font-size:48px;
    line-height: 52px;
    font-weight: bolder;
    text-align: center;
}

.subtitle{
    color:white;
    font-size: 16px;
    line-height: 28px;
    font-weight: lighter;
    text-align: center;
    margin:24px auto;
    margin-bottom: 32px; 
}

.email-group{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.email-input {
  line-height: 1.75;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  width:25%;
  border-radius: 4px;
  margin-right: 8px;
  padding: 13px 16px 15px 16px;
}

.email-group input{
  font-weight: lighter;
  font-size:19px
}
.email-group input::placeholder {
  color:grey;
  font-size: 16px;
}

.email-group .green{
  border-color: rgb(5, 177, 105);
  
  font-size: 16px;
}

.green{
   color: white;
   background: rgb(5, 177, 105);
   outline: none !important;
}

.green:hover{
  color: white;
  background: rgb(5, 160, 95);
  outline: none !important;
}





.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}


/* 
.flex-home{
    display: flex;
    justify-content: space-around;
} */

/* .btn-sub-home {
  color:white;
  background: rgb(5, 177, 105);
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-sub-home:hover {
  background: rgb(5, 177, 105);
  color: white;
} */

