/* structure of the nav */

.flex-container-navbar{
    display: flex;
    justify-content: space-between;
    min-height: 12vh;
    
}
.logo{
    color:white;
    font-weight: bolder;
    font-size:25px;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin-right:68px;

}
/* child element of the nav */

.flex-item-navbar{
    display: flex;
    align-self: center;
    justify-content: space-between;
}


/* left */

.item-left-nav{
flex: 0 0 auto;
}

/* center  */

.item-center-nav{    
flex: 1 0 auto;
justify-content: flex-start;
}

/* right  */

.item-right-nav{  
    flex: 0 0 auto;
}

.anchor{
    font-size:20px;
    margin-right: 10px;
    font-weight: 200;
    color:white;
    text-decoration: none;
}
.anchor:hover{
    font-weight: 200;
    color:rgb(221, 218, 218);
    text-decoration: none;
}

.mid{
    padding-right:30px;
}