/* structure of the nav */
.white{
    color:white;
}
.black{
    color:black;
}
.special-blue{
    color: rgb(22,82,240);
}
.special-green{
    background-color:rgb(5,177,105);
}

.flex-container-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    min-height: 26px;
    width: 100%;
    
}

.scrolled{
    position: sticky;
    top:0px;
    background-color: white;
}

.logo{
    
    font-weight: bolder;
    font-size:28px;
    margin-right:50px;
    text-decoration: none      !important;
    
}
.logo a{
    text-decoration: none;
    color:inherit;
}
/* child element of the nav */

.flex-item-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
}


/* pushing buttons to the far right */

.flex-item-navbar:last-child{
    margin-left: auto;
}

.anchor{
    
    font-size:16px;
    margin-right: 40px;
    font-weight: bold;
    text-decoration: none;
}

#sign{
    margin-right: -8px;
}

.anchor:hover{
    text-decoration: none;
}

.logged:hover
{
    color:rgb(22,82,240);
}

.flex-item-navbar>div .btn-flat{
    font-size: 14px;
    font-weight: lighter;
    padding:12px 16px;
    width: 125px;
}

.flex-item-navbar>div .btn-flat:hover{
    background-color: #0D42CA;
    color: white;
}

.nav-selected{
    color:rgb(22,82,240);
    border:1px solid blue;
    border-width: 0 0 2px 0;
}

.flex-item-navbar:last-child .logged{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-navbar:last-child .logged>*{
    margin: 0px 10px;
}

.navbar-bell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.navbar-bell:hover{
    background-color: lightgray;
}

#dropdown-navbar{
    overflow: hidden;
    border-radius: 50%;        

}

#dropdown-modal-container{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 109, 109, 0.3);
    z-index: 1000;
}


#dropdown-modal-container .dropdown-modal{
    background-color: white;
    border:1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top:70px;
    right: 140px;
    display: flex;
    flex-direction: column;
    width: 200px;
    z-index: 2000;
}

.dropdown-modal>*,
.dropdown-modal>*:hover
{
    color: black;
    margin:5px 15px 15px 15px;
    font-size: 18px;
    font-weight: bold;
}

#signout{
    color:#DF5F66;
}