/* structure of the nav */
.white{
    color:white;
}
.black{
    color:black;
}
.special-blue{
    color: rgb(22,82,240);
}
.special-green{
    background-color:rgb(5,177,105);
}

.flex-container-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    min-height: 26px;
    width: 100%;
    
}

.scrolled{
    position: sticky;
    top:0px;
    background-color: white;
}

.logo{
    
    font-weight: bolder;
    font-size:28px;
    margin-right:50px;
    text-decoration: none      !important;
    
}
.logo a{
    text-decoration: none;
    color:inherit;
}
/* child element of the nav */

.flex-item-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
}


/* pushing buttons to the far right */

.flex-item-navbar:last-child{
    margin-left: auto;
}

.anchor{
    
    font-size:16px;
    margin-right: 40px;
    font-weight: bold;
    text-decoration: none;
}

.anchor:hover{
    color:rgb(22,82,240);
    text-decoration: none;
}


.flex-item-navbar>div .btn-flat{
    font-size: 16px;
    font-weight: lighter;
    padding:12px 16px;
    margin-left: 16px;
}

.nav-selected{
    color:rgb(22,82,240);
    border:1px solid blue;
    border-width: 0 0 2px 0;
}

