.container-tableau{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1); 
}

.header-tableau{
    color:grey;
    font-weight: lighter;
}

.row-tableau {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: solid 1px lightgrey;
    
}


.panel-ord{
    padding-left: 10px;
    min-width:calc((100%/14) - 10px);
}

.panel-name{
    min-width:calc((100%/14)*6);
}

.panel-price{
    min-width:calc((100%/14));
    overflow:auto;
}

.panel-change{
    min-width:calc((100%/14)*1);
    overflow:auto;
}

.panel-chart{
    min-width:calc((100%/14));
    overflow:auto;
}

.panel-action{
    min-width:calc((100%/14)*2);
}

