.panel-tableau{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: solid 2px lightslategray;
    border-radius: 4px;
    background-color: white;
}

.panel-tableau-kid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: solid 1px lightgrey;
}

.panel-item{
    color:grey;
}