.container-tableau{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;                        /* Small radius */
    margin-bottom: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.row-tableau {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-style: solid;
    border-color:lightgrey;
    border-width: 0 0 1px 0;
    
}
.header-tableau{
    color:grey;
    font-weight: lighter;
    padding:18px 14px;
}


.panel-ord{
    color:grey;
    padding-left: 10px;
    min-width:calc((100%/14) - 35px);
}

.panel-name{
    display: flex;
    align-items:center;
    min-width:calc((100%/14)*6);
}
.panel-name img{
    padding:0px 8px 0px 0px;
}

.panel-name span{
    font-weight: 300;
    padding-left: 5px;
    color:grey;
}

.panel-price{
    min-width:calc((100%/14));
    
}

.panel-change{
    min-width:calc((100%/14)*1);
    
}

.panel-chart{
    min-width:calc((100%/14));
    
}

.panel-action{
    min-width:calc((100%/14)*2);
}

.panel-action>.btn-flat{
    text-align: center;
    font-size: 14px;
    margin-right:calc(50%);
    padding:12px 16px;
}

