.search-bar{
 display: flex;
}

.input-search{
    min-width: 100%;
    margin: 40px 10px;
    height: 50px;
}
.price-tableau{
    display: flex;
    flex-direction: column;
}

.price-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    padding:30px
}

.price-item{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 20px;
}

.yellow {
    color:yellow;
}
.fa{
    size:50px;
}