#root{
    /* background-color: red; */
    min-height: 800px;
    margin: 0 auto;
    width:80%;
}

.blue{
    background-color: rgb(22, 82, 240);  
}
body{
    font-family: 'Sunshiney', cursive;
}
html {
    height: 100%;
    background-color: cyan;
}

body {
    height: 100%;
    background-image: url('http://i.imgur.com/9HMnxKs.png');
    background-repeat: repeat-y;
    background-size: 50% auto;
}