#root{
    /* background-color: red; */
    min-height: 800px;
    margin: 0 auto;
    width:80%;
}

/* right blue : rgb(22, 82, 240) */
.blue{
  background-color: rgb(22,82,240);
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
    
}

body{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
}

