#root{
    /* background-color: red; */
    min-height: 800px;
    margin: 0 auto;
    width:80%;
}

/* right blue : rgb(22, 82, 240) */
.blue{
  background-image: url("https://www.flysas.com/us-en/eurobonus/_jcr_content/par-content/styled_container_212/par-styled-container/styled_container_176/par-styled-container/columncontrol/column0/card.img.735.medium.jpeg");
  background-color: #ffffff;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
    
}

body{
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Sunshiney', cursive; */
}

